@charset "utf-8";
/* CSS Document */
html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
body {
    font-family: 'Fira Sans', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    -webkit-overflow-scrolling: touch;	
    background:url("../images/image-bg.png") repeat;
}
.clr {
    clear:all;
}
/*------------------------------------------------------------------------- Header Starts --*/
header {
    background: #000;
    -webkit-box-shadow: 0 5px 20px 2px rgba(0,0,0,0.2);
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.2);
    z-index: 2;
}
header h2 {
    color: #cccccc;
    font-size: 4em;
}
header #search {
    margin: 2.2em 0;
}
header .searchInput .input-group-addon{
    background: white !important; 
}
header .searchInput .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
header .searchInput button{
    border:0;
    background:transparent;
}

#header {
    background:#f36523;
    padding:10px 0;
    color:#fff;
}
#header .header {
    margin:0;
    font-size:20px;
}

/* ------------------------------------------------------------------------------------------ Header ends */

/* ------------------------------------------------------------------------------------------ Section Starts */


#main {
    padding-top:40px;

}

#main .row {
    -webkit-box-shadow:inset 0 0 50px 20px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 50px 20px rgba(0,0,0,0.3);
    border-bottom: 3px solid #bbb;
    padding:5px 0;
    margin-bottom:40px;
    cursor:pointer;
    background:#777;
    color:#fff;
    padding-bottom:10px;
}

#main .row img {
    margin:20px auto;
}

#main .row h2 {
    text-shadow: 1px 0 10px rgba(0,0,0,0.5);
    margin: 20px 0 5px;
    font-size: 32px;
}

#main .row h3 {
    font-style: italic;    
    font-size: 14px;
    margin: 5px 0 15px;
    color: #ccc;	
}

#main .row h4{
    margin: 0;
    color: #444;
    font-weight: 500;
}

#main .row p {
    text-align: justify;
    padding: 0 30px 20px 0;		
}

#main .col-md-1 {
    text-align: center;
}

#main .more h3 {
    font-size:16px;
    font-style: normal;	
    color: #444;
}

#main .more .review h3 {
    font-size:20px;
    font-style: normal;
    color: #fff;
    text-align: right;
    padding: 0 0 5px;
    border-bottom: 3px solid #f36523;
    margin-right: 30px;
}

#main .more h3 span {
    font-style: normal;
    font-size: 16px;
    color:#fff;
    font-weight: bold;
}

.more ul {
    padding:0;
    list-style:none;	
}

#main .more ul li {
    display: inline-block;
    padding:2px 20px 0 20px;
    font-size:16px;
    background: url(../images/movie.png) no-repeat 0 4px;
}

#main .more .review ul li {
    display:block;
    padding:0;
    background: none;
}

a#inifiniteLoader{
    position: fixed;  
    z-index: 2;  
    bottom: 15px;   
    right: 10px; 
    display:none;
}
/* ------------------------------------------------------------------------------------------ Section Ends */